[Desktop Entry]
Encoding=UTF-8
Name=KAIM
Name[pl]=KAIM
Comment=KDE AOL Instant Messager
Comment[pl]=KDE AOL Instant Messager
Exec=kaim
Icon=/usr/X11R6/share/kaim/icons/kaim.png
Terminal=false
Type=Application
# vi: encoding=utf-8
